snippet -pl
	@include x-placeholder {
		${0}
	}
snippet -sm
	@include small-min {
		${0}
	}
snippet -mm
	@include medium-min {
		${0}
	}
snippet -lm
	@include large-min {
		${0}
	}
snippet -xlm
	@include extra-large-min {
		${0}
	}
snippet -smx
	@include small-max {
		${0}
	}
snippet -mmx
	@include medium-max {
		${0}
	}
snippet -lmx
	@include large-max {
		${0}
	}
snippet -xlmx
	@include extra-large-max {
		${0}
	}
snippet -fs
	@include font-size(${0});
