{:linters {:unused-namespace
           {:level :warning
            :namespaces
            {clj-kondo.core {print! {:arities {1 {:args [:map]
                                                  :ret :nil}}}
                             run! {:arities {1 {:args [:map]
                                                :ret :map}}}}
             clj-kondo.impl.config #include "../src/clj_kondo/impl/config.types.edn"
             clj-kondo.impl.findings #include "../src/clj_kondo/impl/findings.types.edn"}}
           :unresolved-symbol {:exclude [(dumdom.core/defcomponent)]}}}
